.table {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 10px 1.5%;
  min-height: 80vh;
}

th {
  width: 2000px;
}

td {
  text-align: center;
}