body {
  background-color: #ddd;
}

nav {
  background-image: linear-gradient(-90deg, #39C0FF, #115f83);
  color: white;
  padding: 10px;
}

nav h1 {
  margin-left: 40px;
}

.no-enterprises {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 10px 1.5%;
  min-height: 80vh;
  position: relative;
}

.no-enterprises h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}